body{
    background-image: url(../IMG/Banner.jpg);
    background-size: 100% 36rem;
    background-repeat: no-repeat;
    background-color: #eeeeee !important;
}
.navbar.navbar-expand-lg{
    background-color: #000000;
}
.nombre-programa{
    color: #e7e7e7;
    font-family: monospace;
    font-size: 15px;
}
.nombre-programa:hover{
    color: #fedc3d;
}
li.list-group-item{
    background-color: #000000;
    color: #f6f7f8;
}
i.fa-brands.fa-instagram:hover{
    color: #ce0d53;
}
i.fa-brands.fa-linkedin-in:hover{
    color:  #007bb6;
}
i.fa-brands.fa-behance:hover{
    color:  #053eff;
}
i.fa-solid.fa-user-lock.fa-2xl{
    color: #facd00;
}
i.fa-solid.fa-user-lock.fa-2xl:hover{
    color: #9a7f04;
}
.btn.btn-primary{
    background-color: #02bbbb;
    border-color: #02bbbb;
}
.btn.btn-primary:hover{
    background-color: #01abaa;
    border-color: #01abaa;
}
section.about{
    margin-top: 30rem;
}
.acerca-de-mi{
    text-align: justify;
    font-size: 15px;
    border: 1px solid #03030339;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.503);
}
.datos-personales{
    font-size: 14px;
}
.progress-bar-orange{
    background-color: #ff3401 !important;
}
.progress-bar-violet{
    background-color: #6600fe !important;
}
.card:hover{
    background-color: #cdd8e8;
    border: 1px solid #96abc7;
    text-align: center;
}




/* DASHBOARD */
.fondo-dashboard{
    background-image: none;
}
i.fa-solid.fa-user.fa-2xl{
    color: #03cece;
}
i.fa-solid.fa-user.fa-2xl:hover{
    color: #037777;
}










